.card {
  position: relative;
  background-color: #fff;
  width: 600px;
  padding: 20px;
  max-width: 85vw;
  height: 50vh;
  box-shadow: 0px 18px 53px 8=0px rgba(0, 0, 0, 0.3);
  border-radius: cover;
  background-position: center;
}

.Cards_cardContainer {
  display: flex;
  justify-content: center;
  margin-top: 10vh;
}

.swipe {
  position: absolute;
}

.cardContent {
  width: 100%;
  height: 100%;
}

.userInfo {
  text-align: center;
  position: absolute;
  bottom: 0;
  margin: 10px;
  color: #2809b1 !important;
}
